.TableGetAll {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 3px solid rgb(107, 44, 44);
}

.TableGet {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 3px solid rgb(107, 44, 44);
}

thead th,
tbody tr, td {
    border: 3px solid rgb(107, 44, 44);
}

.TableData {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(211, 221, 217);
    border: 3px solid rgb(107, 44, 44);
}

.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.pageButtons {
    overflow: scroll;
    background-color: rgb(211, 221, 217);
}

.page-link {
    background-color: rgb(211, 221, 217);
    border-color: black;
}